.git
.github
node_modules
vendor
.env
.env.*
!.env.example
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
public/hot
public/storage
docker-compose*.yml
.DS_Store
Thumbs.db
